.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.homepage{
  text-align: center;
  height: 1000px;
  background-color: red;
  position:static;
  overflow:hidden;
}

/* Homepage */
.home-card{
  text-align:center;
}
.bg{
  width: 35%;
  border-radius:50%;
}
/* buttons */
.play-button{
  text-align:center;
}

/* Game */
.welcome{
  text-align: center;
}



.start-game{
  border-radius:10px;
  text-align: center;
}

.suit-clubs{
  display:inline-block;
  flex-direction: row;
}

.suit-clubs-cards{
  width:80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header { */
  /* background-color: #282c34; */
  /* min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
/* } */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
